<!-- <div class="bg-orange-500 h-[4rem]">
<nav class="nav flex justify-between container mx-auto ">
    <h1 class="text-indigo-500 mt-2">E-COMM</h1>
    <div class="search w-1/3 h-7 flex"> 
        <input type="text" class="mt-3  w-9/12 p-5" placeholder="Search for Products" />
        <button class="bg-green-300 mt-3  h-10 w-28">Search</button>
    </div>
    <ul class="">
        <li ><a href="#" >Home</a></li>
        <li ><a href="#">Seller</a></li>
        <li ><a href="#">Login</a></li>
        <li ><a href="#">Cart(0)</a></li>
    </ul>
</nav>
</div> -->

<div class="nav-bar">
  <nav class="nav">
    <h1 class=""><a routerLink="/">E-COMM</a></h1>

    <div class="search-div" *ngIf="menuType == 'defult' || 'user'">
      <input
        #searchItem
        type="text"
        class=""
        value="{{ searchValue }}"
        (keyup)="searchProduct($event)"
        (blur)="hideSearch()"
        placeholder="Search for Products"
      /> 
      <button class="" (click)="submitSearch(searchItem.value)">Search</button>
      <ul class="search-result" *ngIf="searchResult">
        <li *ngFor="let result of searchResult">
          <a (mousedown)="redirectToDetails(result)">{{ result.name }}</a>
        </li>
        <li *ngIf="searchResult.length == 0"><a>"No Result Found"</a></li>
      </ul>
    </div>

    <div class="bar-ul" [ngSwitch]="menuType">
      <mat-icon>menu</mat-icon>
      <ul class="nav-bar-ul" *ngSwitchCase="'defult'">
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="seller-auth">Seller</a></li>
        <li><a routerLink="/user-auth">Login/ Sign-Up</a></li>
        <li>
          <a href="#">Cart({{ cardItems }})</a>
        </li>
      </ul>
      <ul class="nav-bar-ul" *ngSwitchCase="'user'">
        <li><a routerLink="">Home</a></li>
        <li>
          <a routerLink="">{{ userName | titlecase }}</a>
        </li>
        <li><a (click)="userLogout()">LogOut</a></li>
        <li>
          <a href="#">Cart({{ cardItems }})</a>
        </li>
      </ul>
      <ul class="nav-bar-ul" *ngSwitchCase="'seller'">
        <li><a routerLink="seller-home">Product List</a></li>
        <li><a routerLink="seller-add-product">Add Product</a></li>
        <li><a (click)="logout('seller')">LogOut</a></li>
        <li>
          <a href="#">{{ sellerName | titlecase }}</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<!-- <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon ">
        
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
       
      </button>
    </mat-toolbar> -->
