<div class="product-list mat-elevation-z10">
  <h1>All Product List</h1>
  <table class="">
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
        <th>Color</th>
        <th>Category</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of productList">
        <td><img src="{{ item.image }}" /></td>
        <td>{{ item.name }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.color }}</td>
        <td>{{ item.category }}</td>
        <td>{{ item.description }}</td>
        <td>
          <p style="display: block">
            <mat-icon color="warn" (click)="deleteProduct(item.id)"
              >delete</mat-icon
            >
            <mat-icon color="primary" routerLink="/seller-update-product/{{item.id}}"
              >edit</mat-icon
            >
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  <br />
  <button color="primary" mat-raised-button routerLink="/seller-add-product">
    Add Product
  </button>
</div>
