/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    --blueviolet: blueviolet;
    --btnLgBlueviolet: rgb(230, 216, 241);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.common-form{
    color: var(--blueviolet);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    width: 25rem;


}
.form-input{
    width: 100%;
    height: 50px;
    padding: 20px;
    border:1px solid var(--blueviolet);
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 15px;
    outline: 1px solid var(--blueviolet);
}
.form-button{
    width: 40%;
    height: 50px;
    padding: 10px ;
    font-size: 23px;
    margin: auto;
    color: var(--blueviolet);
    border:1px solid var(--blueviolet);
    background-color: var(--btnLgBlueviolet);
    margin-bottom: 20px;
    border-radius: 15px;

}

@media only screen and (max-width: 789px) {
    
}