<!--*********** Add Carousel Start **********-->
<ngb-carousel *ngIf="popularProducts">
  <ng-template ngbSlide *ngFor="let item of popularProducts">
    <div class="picsum-img-wrapper">
      <img
        class="product-header-img"
        src="{{ item.image }}"
        alt="Random first slide"
        routerLink="/details/{{ item.id }}"
      />
    </div>
    <div class="carousel-caption">
      <h3>{{ item.name }}</h3>
      <p>{{ item.description }}</p>
    </div>
  </ng-template>
</ngb-carousel>
<!--*********** Add Carousel End **********-->
<!-- ******* Body ********* -->
<div class="product-list-wrapper" *ngIf="trendyProducts">
  <h1>Trendy Products</h1>
  <div class="row">
    <!-- Start -->
    <div class="col-sm-3" *ngFor="let trendy of trendyProducts">
      <div class="product-item">
        <img src="{{ trendy.image }}" alt="" />

        <div class="product-details">
          <h5 class="card-title" style="font-size: larger; font: wiget 300px">
            {{ trendy.name }}
          </h5>
          <div class="fs-7">
            <h3>
              Price:
              <i class="text-start" style="color: rgb(238, 96, 40)"
                >${{ trendy.price }}</i
              >
            </h3>
          </div>
          <div class="m-2" style="max-height: 20px; overflow: hidden">
            <h4>Color: {{ trendy.color }}</h4>
          </div>
          <div class="m-2" style="max-height: 42px; overflow: hidden">
            <h4>{{ trendy.description }}</h4>
          </div>
        </div>
        <div class="product-footer">
          <a routerLink="/details/{{ trendy.id }}">View Details</a>
          <a href="#">Add to Card</a>
        </div>
      </div>
    </div>
    <!-- End -->
  </div>
</div>
